.App {
  text-align: center;
}

.nav-list {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-left: 0;
}

.nav-link {
  color: green;
  text-decoration: none;
  margin: 0 0.25em;
}